@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

.titulo {
  font-family: "Black Han Sans", sans-serif;
}
.imagenCarousel{
  height: 350px; 
  object-fit: cover;
}

textarea {
  resize: none;
}

 @media all and (min-width: 992px) {
  .imagenCarousel {
    height: 450px;
    object-position: 50% 30%;
  }
}